@import url('../vars.css');

.header{
    display: flex;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: rgb(var(--background-color));
    background-color: rgb(var(--color-white));
    margin-bottom: 2rem;
}

.heading1{
    padding: 0;
    margin:0;
}

.layout-nav{
    display: flex;
    gap: 2rem;
    height: 100%;
    align-items: center;
}

.layout-nav>a{
    text-decoration: none;
    color: rgb(var(--font-color));
    padding: 1rem;
}

.layout-nav>a:active{
    color: red;
}
